This file create the combinaison.csv file

In [82]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import mean_squared_error, r2_score

import pandas as pd

In [83]:
tweets_df_numerical = pd.read_csv('numerical.csv')
tweets_df_doc2vec = pd.read_csv('doc2vec.csv')
tweets_df_tfidf = pd.read_csv('tf_idf.csv')

In [84]:
tf_idf_doc2vec = pd.concat([tweets_df_doc2vec, tweets_df_tfidf], axis=1)

In [85]:
tf_idf_doc2vec.retweetCount

      retweetCount  retweetCount
0               32            32
1               22            22
2               26            26
3              309           309
4               63            63
...            ...           ...
2945            38            38
2946            42            42
2947            22            22
2948            34            34
2949           143           143

[2950 rows x 2 columns]

In [86]:
tf_idf_doc2vec = tf_idf_doc2vec.loc[:, ~tf_idf_doc2vec.columns.duplicated()]
tf_idf_doc2vec.retweetCount

0        32
1        22
2        26
3       309
4        63
       ...
2945     38
2946     42
2947     22
2948     34
2949    143
Name: retweetCount, Length: 2950, dtype: int64

In [87]:
tf_idf_doc2vec.to_csv('tf_idf_doc2vec.csv', index=False)

In [88]:
combinaison = pd.concat([tweets_df_numerical, tf_idf_doc2vec], axis=1)

In [89]:
combinaison.retweetCount

      retweetCount  retweetCount
0               32            32
1               22            22
2               26            26
3              309           309
4               63            63
...            ...           ...
2945            38            38
2946            42            42
2947            22            22
2948            34            34
2949           143           143

[2950 rows x 2 columns]

In [90]:
combinaison = combinaison.loc[:, ~combinaison.columns.duplicated()]
combinaison.retweetCount

0        32
1        22
2        26
3       309
4        63
       ...
2945     38
2946     42
2947     22
2948     34
2949    143
Name: retweetCount, Length: 2950, dtype: int64

In [91]:
combinaison.to_csv('combinaison.csv', index=False)